@{
    ViewBag.Title = "@joewritescode entry for #winaspectra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/winaspectre.js")" type="text/javascript"></script>


<h2 class="k-grouping-header">#winaspectra</h2>

    <div id="page">
        <div id="description">
            <h2><a href="https://twitter.com/#!/joewritescode">joewritescode's</a> entry for the #codepalousa #winaspectre contest</h2>
   
            <img id="joeimage" src="https://twimg0-a.akamaihd.net/profile_images/748700544/joe_reasonably_small.jpg" />
            <p>
            This simple app reads the codepalousa json api using the Telerik Kendo UI client-side framework and then formats the results into a grid.  
    
            The results link up to twitter and allow you to tweet your comments about a session to the world.  
            </p>
        </div>

        <div id="grid"></div>
    </div>


