@{
    ViewBag.Title = "@joewritescode entry for #winaspectra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/winaspectre.js")" type="text/javascript"></script>


<h2 class="k-grouping-header">#WinASpectre</h2>

    <div id="page">
        <div id="description">
            <h2><a href="https://twitter.com/#!/joewritescode">joewritescode's</a> entry for the #CodePaLOUsa #WinASpectre contest</h2>
   
            <img id="joeimage" src="https://twimg0-a.akamaihd.net/profile_images/748700544/joe_reasonably_small.jpg" />
            <p>
                This simple app reads the CodePaLOUsa json api using the Telerik Kendo UI client-side framework and then formats the results into a grid.  
                The results link up to twitter and allow you to tweet your comments about a session to the world.  This is the first time I've ever used
                <a href="http://www.kendoui.com">KendoUI</a>, and I have to say, I'm pretty impressed with how easy it is to pick up and just start using.
            </p>
        </div>

        <script type="text/x-kendo-template" id="template">
            <div class="description">
                #= description #
            </div>

            </script>

        <div id="grid"></div>
    </div>


